:root {
    --primary-color: #7C5CBF;
    --primary-color-hover: #6b47b8;
    --secondary-color: #333744;
    --text-color: #ffffff;
    --text-color-light: #bbbbbb;
    --background-color: #F7F7FA;
    --link-color: #0070CC;
    --border-color: #dddddd;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    color: var(--text-color-light);
}

input, button {
    font-size: 1rem;
    padding: 0.75rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}

input {
    background-color: #fff;
    color: var(--text-color);
}

button {
    cursor: pointer;
    background: var(--primary-color);
    color: white;
    border: none;
    transition: background 0.3s ease, transform 0.2s ease;
}

button:hover, button:focus {
    background: var(--primary-color-hover);
    transform: scale(1.05);
}

button:disabled {
    background: rgba(124, 92, 191, 0.58);
    cursor: not-allowed;
}

.centered-form {
    background: var(--secondary-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-form__box {
    box-shadow: var(--box-shadow);
    background: var(--background-color);
    padding: 1.5rem;
    width: 300px;
    border-radius: 8px;
}

.chat {
    display: flex;
    height: 100vh;
}

.chat__sidebar {
    background: var(--secondary-color);
    width: 250px;
    overflow-y: auto;
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.chat__messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #fff;
}

.message {
    background: #f4f4f4; /* Light grey background for messages */
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: var(--box-shadow);
    animation: fadeIn 0.5s;
    color: var(--text-color); 
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.message__name {
    font-weight: bold;
    color: var(--primary-color);
}

.message__meta {
    font-size: 0.85rem;
    color: var(--text-color-light);
}

.message a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.message a:hover {
    color: var(--primary-color-hover);
}

.compose {
    padding: 20px;
    background: var(--background-color);
    display: flex;
    border-top: 1px solid var(--border-color);
}

.compose form {
    flex-grow: 1;
    display: flex;
    margin-right: 10px;
}

.compose input {
    flex-grow: 1;
    margin-right: 10px;
    color: var(--text-color);
}

.compose button {
    white-space: nowrap;
}

.room-title, .list-title, .users {
    color: var(--text-color);
}

@media screen and (max-width: 600px) {
    .chat__sidebar {
        width: 100%;
        height: auto;
    }

    .chat__main {
        width: 100%;
    }

    .centered-form__box {
        width: 90%;
    }
}
